.container {
  margin-top: 3rem;
}

.jumbotron {
  background: #6FBF42;
  color: #242021
}

.thumbnail-wrapper {
  text-align: center;
  height: 25rem;
}

.thumbnail {
  background: #00A2E3;
}

.thumbnail h3 {
  color: #FAEBD7;
}

.thumbnail p {
  color: firebrick;
  font-size: 1.5rem;
}

.thumbnail p b {
  color: chartreuse;
}


@media (prefers-reduced-motion: no-preference) {
  .emoji-wrap {
    -webkit-animation: scaler infinite 10s linear alternate;
    -ms-animation: scaler infinite 10s linear alternate;
    -o-animation: scaler infinite 10s linear alternate;
    -moz-animation: scaler infinite 10s linear alternate;
    animation: scaler infinite 10s linear alternate;
  }
}

-webkit-@keyframes scaler {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

-ms-@keyframes scaler {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

-o-@keyframes scaler {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

-moz-@keyframes scaler {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes scaler {
  from {
    transform: scale(1.5);
  }
  to {
    transform: scale(1);
  }
}
